/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    color: #ffffff;
}

.pagination {
    float: right;
    border-radius: 0px !important;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.no-padding {
    padding: 0;
}

#form-novo-usuario label {
   text-align: left !important;
}

.perfil-usuario {
    /*border-right: 1px solid lightgray;*/
    padding-left: 0px;
    padding-bottom: 40px;
}

.detalhe-usuario {
    padding-top: 20px;
    font-size: 22px;
}

.detalhe-usuario li {
    padding: 5px;
}

.detalhe-loja {
    padding-top: 2px;
    font-size: 15px;
}

.detalhe-loja li {
    padding: 5px;
}

.sub-menu li:hover {
    cursor: pointer;
    background-color: #3097D1;
}

.sub-menu li a {
    color: #ffffff !important;
}

.page-breadcrumb {
    display: -webkit-inline-box;
    list-style: none;
    padding: 8px 15px !important;
    margin-bottom: 0px !important;
    list-style: none !important;
    background-color: transparent;
}

.thumbnail, .thumbnail a {
    border-radius: 0px !important;
    border: 1px solid transparent !important;
}

.thumbnail:hover {
    border: 1px solid #dddddd !important;
    box-shadow: 0px 0px 5px #b2afaf;
    /*cursor: pointer;*/
    /*background-color: #ffffff;*/
}


.img-default-size {
    width: 300px !important;
    height: 250px !important;
}

.img-thumbnail {
    border: none !important;
    background: transparent;
}

.preco {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.btn-preco {
    color: white;
    background-color: #f8ac31;
    /*border: 1px solid #f8a733;*/
}

.btn-preco:hover {
    background-color: #f8b73d;
    color: white;
}

h2::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    /* background: #fff; */
    background: -moz-linear-gradient(left, #ddd 0%, #676767 50%, #ddd 100%);
    /* background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#676767), color-stop(100%,#ffffff)); */
    /* background: -webkit-linear-gradient(left, #fff 0%,#676767 50%,#fff 100%); */
    background: -o-linear-gradient(left, #ddd 0%,#676767 50%,#ddd 100%);
    background: -ms-linear-gradient(left, #ddd 0%,#676767 50%,#ddd 100%);
    background: linear-gradient(to right, #ddd 0%,#676767 50%,#ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#dddddd',GradientType=1 );
    margin-top: 10px;
    margin-bottom: 20px;
}

.detalhe-produto-thumbnail {
    padding: 2em;
    box-shadow: 0px 0px 5px #b2afaf;
}

.img-detalhe-produto {
    padding-left: 20px;
    height: 310px;
    width: 295px;
}

.stars {
    text-align: left;
    margin-bottom: 13px;
}

i.blue-star {
    color: #3399cc;
}

.text-black
{
    color: black;
}

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('/images/ajax-loader.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}

.checkout-table {
    border: 1px solid lightgrey;
    padding: 30px !important;
}

.table > tfoot > tr > td {
    border: none !important;
}

.bg-divs-finalizar-compra {
    border: 1px solid lightgrey;
    background-color: white;
    min-height: 620px;
    margin-bottom: 40px;
    overflow: hidden;
}

.bg-divs-finalizar-compra h4 {
    border-bottom: 1px solid lightgrey;
    padding: 10px 0px;
    margin-top: 0px !important;
    background-color: #3097D1;
    color: white;
}

.resume {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    background: #f3f3f3;
    border-radius: 4px;
}

.resume p {
    float: left;
    width: 100%;
    height: 29px;
    line-height: 29px;
    margin: 0;
    text-indent: 10px;
    color: #666;
    border-bottom: 1px solid #d2d2d2;
}

.resume p.last {
    border:none;
}

.btn-full {
    width: 100%;
}

span.payment-ico {
    background-position: 0 0;
}

div.payment>label {
    float: left;
    width: 80px;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

div.payment label input {
    float: none;
    margin: 5px 0 0 0;
}

div.payment-data {
    float: left;
    width: 100%;
    margin-top: 20px;
}

div.payment-data label {
    text-align: left !important;
}

div.payment label span.payment-ico {
    float: left;
    width: 100%;
    height: 50px;
    background: url('/images/payments-sprite.png');
}

div.payment label.cartao-master span.payment-ico {
    background-position: -80px 0;
}

div.payment label.cartao-amex span.payment-ico {
    background-position: 0 -50px;
}

div.payment label.cartao-diners span.payment-ico {
    background-position: -160px 0;
}

div.payment label.cartao-elo span.payment-ico {
    background-position: 0px -100px;
}

div.payment label.cartao-discover span.payment-ico {
    background-position: -80px -100px;
}

div.payment label.boleto-bancario span.payment-ico {
    background-position: 0 -150px;
}

div.payment label.deposito-bb span.payment-ico {
    background-position: -240px -200px;
}

div.payment label.transferencia-bb span.payment-ico {
    background-position: -160px -200px;
}

div.payment label.itau-shopline span.payment-ico {
    background-position: -240px -100px;
}